body{

    font-family: 'Poppins', sans-serif;
}
nav .container-fluid{

    align-items: center;

    
}

.col-md-4{
    border-radius: 60%; 
    height: 300px;
    width: 300px;
    position: relative;
    display: flex;
    align-items: center;
  
    
}

.col-md-4 img {
    position: absolute;
    border: solid #ffff 2px;
    
   
    width: 275px;
    height: 275px;
    border-radius: 50%; /* Set border-radius to 50% to make it a circle */
}
